---
import ContactLayout from '@/components/Contact/Contact.astro'
import { allLocales } from '@/config'
import { getLangRouteParam } from '@/i18n/lang'
import Layout from '@/layouts/Layout.astro'

export async function getStaticPaths() {
  return allLocales.map(lang => ({
    params: { lang: getLangRouteParam(lang) },
  }))
}
---

<Layout>
  <div class="heti prose">
    <div class="uno-decorative-line"></div>
    <h1 class="mb-10\.5">Contact</h1>
    <ContactLayout />
  </div>
</Layout>
