---
import { themeConfig } from '@/config'

interface Props {
  postAuthor: string
}

const { postAuthor } = Astro.props
const siteAuthor = themeConfig.site.author
const Author = postAuthor || siteAuthor
---

<p class="post-author"
  style="margin-bottom: 0;"
>
  <span class="font-title">{Author}</span>
</p>
